.products{
    display: flex;
}

.product-cards{
    display: flex;
    /* background-color: #0c0b0b; */
    margin: -40px;
    padding: 10px 25px 10px 25px;
    margin-bottom: 30px;
}

.product-card {
    /* display: inline-flex; */
    position: relative;
    width: 11.875em;
    height: 18.5em;
    box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgb(227, 221, 221); */
    background-color: #eaeaea;
    padding: 0.5em;
    padding-bottom: 3.4em;
    margin-left: 30px;
    margin-top: 50px;
  }
  
  .product-card::after {
    content: "Add to Cart";
    padding-top: 1.25em;
    padding-left: 1.25em;
    position: absolute;
    /* left: 28px; */
    top: 220px;
    /* bottom: 100px; */
    background: #feffff;
    color: #0c0b0b;
    height: 3.5em;
    width: 70%;
    transition: all 80ms;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
  }
  
  
  /* .product-card:hover::after {
    bottom: 0;
    opacity: 1;
  } */
  
  /* .product-card:active {
    transform: scale(0.98);
  } */
  
  /* .product-card:active::after {
    content: "Added !";
    height: 3em;
    background-color: #907e7e;
    color: white;
  } */
  
  .clothe-text {
    max-width: 148px;
    /* background-color: aqua; */
  }

  .clothe-text img{
    width: 120px;
  }
  
  .product-images {
    /* background: rgb(241, 241, 241); */
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    position: absolute;
    bottom: 2px;
  }

  .product-images p{
    font-size: 12px;
  }

  .product-images h2{
    font-size: 15px;
  }

  .product-cards b{
    font-size: 13px;
  }


button {
  position: relative;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  border-radius: 0px;
  border: none;
  background-color: hsl(255deg 50% 40%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-family: "Inter", sans-serif;
}

.default-btn {
  background-image: linear-gradient(
    90.1deg,
    rgb(108, 121, 122) 0.2%,
    rgb(58, 55, 69) 99.9%
  );
}

.default-btn,
.hover-btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 1em 3em;
  border-radius: 0px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.hover-btn {
  position: absolute;
  inset: 0;
  font-size: 16px;
  padding: 1em 3em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(162, 163, 166);
  background: linear-gradient(
    63deg,
    rgb(73, 73, 74) 0%,
    rgb(45, 44, 47) 100%
  );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(187, 186, 186, 0.3) 0px 3px 7px -3px;
  transform: translate(0%, 100%);
}

.default-btn span {
  color: hsl(0, 0%, 100%);
}

.hover-btn span {
  color: hsl(0, 0%, 100%);
}

button:hover .default-btn {
  transform: translate(0%, -100%);
}

button:hover .hover-btn {
  transform: translate(0%, 0%);
}




/* Responsive Design */
@media (max-width: 900px){  
  .product-cards{
    padding: 10px 75px 10px 30px;
  }
}


@media (max-width: 780px){
  .product-cards{
    padding: 10px 75px 10px 30px;
  }
}
