.container-left img{
    width: 24vw;
    top: -87px;
    left: 77px;
    position: absolute;
}

.content{
    /* background-color: red; */
    /* border: 10px solid black; */
    position: absolute;
    right: 30rem;
    top: 68px;
    width: 451px;
}

.text{
    font-family: 'kanit';
    font-weight: 300;
    letter-spacing: 5px;
}

.text h1{
    font-size: 40px;
}
  
/* Button */
.btn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.btn:hover {
  background-color: #333;
}

/* Circle container */
.circle {
    position: absolute;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    top: 350px;
    right: 54rem;
}
  
  /* Arrows */
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    background-color: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Left arrow */
  .arrow.left {
    left: 20px;
    background-color: white;
    color: #000;
  }
  
  /* Right arrow */
  .arrow.right {
    right: 20px;
  }
  
  /* Hover effect */
  .arrow:hover {
    color: #00bcd4;
  }

  .container-right img{
    width: 18vw;
    top: 17px;
    right: 77px;
    position: absolute;
}

.banner {
  width: 100%;
  height: 65vh; /* Full screen height */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #f8d7da; /* Example background */
  box-sizing: border-box;
  padding: 20px;
  position: relative;
}

.content {
  flex: 1 1 50%;
  max-width: 600px;
}

.content p {
  /* font-size: 16px; */
  margin-bottom: 10px;
  color: #333;
}

.content h1 {
  /* font-size: 36px; */
  margin: 10px 0;
}

.content a {
  display: inline-block;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 12px 25px;
  border-radius: 5px;
  margin-top: 15px;
}




/* Responsive Design */
@media (max-width: 600px) {
  .banner {
    flex-direction: column;
    text-align: center;
    height: 39vh;
    width: 167%;
  }

  .content{
    right: 16rem;
    top: 60px;
  }

  .container-left img{
    width: 56vw;
    top: -65px;
    left: 14px;
  }
  
  .text h1{
    font-size: 32px;
  }

  .circle {
    right: 31rem;
  }

  .btn {
    margin-right: 20px;
  }

  .container-right img{
    width: 43vw;
  }
}